.container * {
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.container__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container__current {
  background-color: rgb(216, 214, 214);
}

.p__date {
  color: rgb(75, 73, 73);
  font-style: bold;
}

.div__weather {
  display: flex;
  align-items: center;
}

.p__temp {
  margin: 10px;
  font: bold;
}

#p__temp__max {
  color: black;
}

#p__temp__min {
  color: grey;
}

