.container {
  display: flex;
  justify-content: center;
  border: 1px solid grey;
}

.container__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p__date {
  color: rgb(102, 100, 100);
  font-style: bold;
}

.div__weather {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
